.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .card iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
  }
  
  
  /* Estilo dos cards */
  /* Estilo dos cards */
.card {
    background-color: rgba(255, 255, 255, 0.7); /* Fundo branco com 70% de opacidade */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9); /* Fundo mais opaco ao passar o mouse */
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }