body{
    background-color: #000000;  
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
    
}


.container-fluid{
    background-color: #000000;
    
}

.div2{
    float: right;
}

.inicio{
    background-color: black;
}
