/* TODAS AS MINHA SECTION . CSS */


.page1 {
    background-image: url(/IMG/PF.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    

}

.page2 {
    background-image: url(/IMG/RC.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.page3 {
    background-image: url(/IMG/SM.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.page4 {

    background-image: url(/IMG/FP.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.interface {

    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: white;

}