#card1{
    background-color: black;
     
    margin-top: 0px;
}

.inicio{
background-color:#000000;

padding:30px 10px;
border-radius:10px;
border:1px solid #000000;
width: auto;

}  


